.btnContainer {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.sortLabel {
    display: block;
}

.sortItem {
    padding: 0 10px;
    height: 42px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    background: #17A2B8;
    margin-left: 5px;
}

.sortItem option {
    background-color: #ffffff;
    color: #000000;
}

.products {
    margin-bottom: 10px;
}

.products thead th {
    vertical-align: text-top;
}