.disableBtn[disabled] {
    pointer-events: none;
}

.container {
    height: 45px;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
    background-color: #4c69ca;
    outline: none;
    border: none;
}

.container > :first-child {
    margin: 0 5px;
}